body {
    margin:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.img-dorothy {
    width:150px;
}

.card{
    text-align:center;
    width:400px;
    margin: 0 auto;
    padding:20px;
    display:flex;
    justify-content:space-around;
    border-bottom: 6px solid #d8cefe;
    background-color:#ddebf8;
    color:#2b2839;
}

